html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 780px;
}
body {
	width: 800px;
	height: 780px;
	margin-left: auto;
	margin-right: auto;	
}
header {
	height:60px;
	width:100%;
	text-align: center;
}
pageTitle {
	width:100%;
	font-size:2.5em;
	color:#000;
}
pageSubTitle {
	width:100%;
	font-style: 1.0em;
	color:gray;
}
newgoal {
	width: 800px;
	height: 50px;
	margin-top: 30px;
	display:block;
}
captchaform {
	width: 100%;
	height:80px;
	display: none;
}
mainContent {
	width:800px;
	height:718px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
mainContentTitle {
	font-size:2.5em;
	color:red;
	display:block;
	vertical-align: middle;
}
game {
	height:180px;
	width:800px;
	margin-top: 10px;
	display:block;
}
player1 {
	float: left;
	width:40%;
	height:180px;
	background-color: blue;
	color:#FFF;
	display:block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
player2 {
	float:left;
	width:40%;
	height:180px;
	background-color: blue;
	color:#FFF;
	display:block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
otheroptions {
	float:left;
	width:20%;
	height:180px;
	display:block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
tiegame {
	float:left;
	width:100%;
	height: 90px;
	background-color: gray;
	color:#FFF;
	text-align: center;
	cursor: pointer;
}
skipgame {
	float:left;
	width:100%;
	height: 90px;
	background-color:#D3D3D3;
	color:#FFF;
	text-align: center;
	cursor: pointer;
}
echogoals {
	width:800px;
	height:500px;
	display:block;
}
echogoals goaltitle {
	width: 100%;
	height:80px;
	font-weight:bold;
	text-align: center;
	display: block;
}
searchresults {
	width: 100%;
	margin-top: 30px;
	display:block;
}
searchresult {
	width:100%;
	height:30px;
	display:block;
}
echogoals rank {
	width:130px;
	height:20px;
	margin-right:10px;
}
echogoals goal {
	width:250px;
	height:20px;
	margin-right:10px;

}
echogoals date {
	width:140px;
	height:20px;
	float:right;
}
next {
	width:30px;
	height:10px;
	color:blue;
	text-decoration:underline;
	cursor: pointer;
}
back {
	width:30px;
	height:10px;
	color:blue;
	text-decoration:underline;
	cursor: pointer;
}